<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/basestyle.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/indexstyle.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css">



    <title>{%block title%} {%endblock%} </title>
</head>
<body>
    <section>
        <div id="nav">
            <div class="logo">
                <img src="/static/image/gymlogo.png" alt="GYM">
                <p>Pandey Gym</p>
            </div>
            
            <div class="nav-container">
            <ul>
                <li> <a href="../index/">Home</a> </li>
                <li> <a href="../about/">About</a> </li>
                <li> <a href="../contact/">ContactUs</a> </li>
            </ul>
            </div>
           
            <div class="logsign">

                
            {% if user.is_authenticated %}
        
            <div class="dropdown">
                <button class="btn"> Welcome {{request.user}}</button>
                <div class="dropdown-content">
                <a href="../logouthandle/">logout</a>
                </div>
              </div>
        
              {% else %}
                
               <button class="btn" onclick="location.href='../loginuser/';">login</button>  
               <button class="btn"onclick="location.href='../sign/';">SignUp</button>
            
            {%endif%}
            </div>
         
            

        </div>
       
    </div>


    </section>



    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {%block body%}

    {% endblock %}

    


<footer>
    copyright 2020  ©  www.pandeygym69.com | All Rights Reserved.
</footer>

</body>
</html>