{% extends 'login/base.html' %}

{%block title%}  Home    {% endblock %}


{%block body %}

<div id="content-container">
  <div class="container1">
    <p> <h1>Welcome To Pandey Gym </h1> </p>
    <p><h2> Let's workout !!</h2>   </p>

  </div>

</div>


<section>
    <div class="content-facilities">
        <h2>Our Facilities</h2>
        <div id="facilities">

        <div class="f"><h3>Unisex Gym</h3>
          <img src="/static/image/unisex.jpg" alt="">
        </div>
        <div class="f"><h3>Yoga Classes</h3>
          <img src="/static/image/yoga.jpg" alt="">
        </div>
        <div class="f"><h3>Swimming Pool</h3>
          <img src="/static/image/swimmimg.jfif" alt="">
        </div>
        <div class="f"><h3>Tennis And Badminton Court</h3>
          <img src="/static/image/tennis.jpg" alt="">
        </div>

        </div>
    </div>


</section>

<section>
        <div class="content-sponser">
          <h2> Our Sponsors </h2>
          <div id="sponsors">
            <img src="/static/image/rbk.png" alt="">
            <img src="/static/image/mb.png" alt="">
            <img src="/static/image/nike.png" alt="">
            <img src="/static/image/myntra.png" alt="">


          </div>
        </div>


</section>













{% endblock %}

