{% extends 'login/base.html' %}

{%block title%}  SignUp    {% endblock %}


{%block body %}

<div id="signup-container">
    <div class="signup-content"><h2> SignUp Form </h2></div>          
    <div id="signup-container1">
        <div class="signup-form">
                <form action="../Signuphandle/"method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input type="text"name="name"id="name"placeholder="enter your name">
                    </div>
                    <div class="form-group">
                        <label for="Email">Email:</label>
                        <input type="email"name="email"id="email"placeholder="enter your Email">
                    </div>
                    <div class="form-group">
                        <label for="Phone">Phone:</label>
                        <input type="phone"name="phone"id="phone"placeholder="enter your Phone">
                    </div>

                    <div class="form-group">
                        <label for="Password">Password:</label>
                        <input type="password"name="pass"id="pass"placeholder="enter your Password">
                    </div>


                    <div class="form-group">
                        <label for="confirm_Password">Confirm_Password:</label>
                        <input type="password"name="confirm_pass"id="confirm_pass"placeholder="Re-enter your password">
                    </div>



                    
                    <div class="form-group">
                        <button class="btn1">
                            Submit

                        </button>
                    </div>




</form>

</div>
</div>


</div>



{%endblock%}